<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Frameworks CSS de base -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

        <!-- Polices utilisées -->
        <link href="//fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Thasadith" rel="stylesheet">

        <!-- Icones utilisées -->
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <!-- Fichier CSS de base de l'application -->
        <link href="resources/css/enediart.css" rel="stylesheet" type="text/css"/>

        <title>ENEDIART</title>
        <style>
            .brand_image {
                height: 60px;
            }
            .navbar-brand {
                margin-top: -18px; 
                margin-bottom: -18px;
            }

            .navbar-toggler{
                display: inline-block;

            }

            .paddingFooter {
                padding-left: 2vw; 
                padding-right: 2vw;
            }
            @media only screen and (max-width: 500px) {
                .brand_image {
                    height: 40px;
                }

                .navbar-brand {
                    margin-top: -10px; 
                    margin-bottom: -10px;
                }

                .paddingFooter {
                    padding-left: 10vw; 
                    padding-right: 10vw;
                }
            }
        </style>

    </head>

    <!-- APPLICATION ANGULAR V1 : myApp -->
    <body ng-app="myApp" style="overflow-x: hidden;">

        <!-- Barre de navigation -->
        <nav ng-controller="MenuController as controller" id="bar_nav" role="navigation" style=" opacity: 1; background-color: #000; z-index: 2!important" class="ombre navbar navbar-expand-lg flex-column flex-md-row bd-navbar navbar-success ">

            <!-- Logo de l'application -->
            <a class="navbar-brand mr-auto" href="#" style="">
                <img class="brand_image" style="filter: grayscale(90%); opacity: 0.9" src="resources/img/img.png" alt=""/>
            </a>
            <button style="max-width: 100px; margin-top: -30px;"  class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerGauche" aria-controls="navbarTogglerGauche" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="font-size: 1.2em; color:#fff"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerGauche">
                <!-- Partie gauche du menu -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a id="accueil" class="nav-link text-white" href="index.html">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a id="oeuvres" class="nav-link text-white" href="#!oeuvres">Oeuvres</a>
                    </li>
                    <li class="nav-item">
                        <a id="artistes" class="nav-link text-white" href="#!artistes">Artistes</a>
                    </li>
                    <li class="nav-item">
                        <a id="expositions" class="nav-link text-white" href="#!expositions">Expositions</a>
                    </li>
                    <li class="nav-item">
                        <a id="eneditrip" class="nav-link text-white" href="#!eneditrip">EnediTrip</a>
                    </li>
                    <!--                    <li class="nav-item">
                                            <a id="blog" class="nav-link text-white" href="#">Blog</a>
                                        </li>-->
                    <li class="nav-item">
                        <a id="contacteznous" class="nav-link text-white" href="#!contacteznous">Contactez-nous</a>
                    </li>
                </ul>
                <!-- Partie droite du menu -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="rechercher" class="nav-link text-white" href="#!rechercher">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown" style="cursor: pointer;">
                        <a class="nav-link dropdown-toggle text-white" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span ng-if="controller.getDevise() == 'euro'">
                                &euro;
                            </span>
                            <span ng-if="controller.getDevise() == 'fcfa'">
                                XAF
                            </span>
                        </a>
                        <div style="float: left" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" ng-click="controller.setDevise('euro')">
                                <i style="width: 50px" class="fas fa-euro-sign"></i>
                                <span style="float: right">Euro</span>
                            </a>
                            <a class="dropdown-item" ng-click="controller.setDevise('fcfa')">
                                <b style="width: 50px">XAF</b> 
                                <span style="float: right">Franc CFA</span>
                            </a>
                        </div>
                    </li>
                    <li ng-if="controller.utilisateur" class="nav-item dropdown" style="cursor: pointer;">
                        <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>
                                {{controller.utilisateur.displayName ? controller.utilisateur.displayName:controller.utilisateur.email}}
                            </span>
                        </a>
                        <div style="float: left" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#!panier">
                                <i class="fas fa-shopping-cart"></i> 
                                <span style="padding-left: 10px;">Mon panier</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" ng-click="controller.deconnexion()">
                                <i class="fas fa-sign-out-alt"></i>
                                <span style="padding-left: 10px;">Déconnexion</span>

                            </a>
                        </div>
                    </li>
                    <li ng-if="controller.noUser" class="nav-item">
                        <a class="nav-link text-white" href="connexion.html">
                            Connexion 
                        </a>
                    </li>
                </ul>

            </div>


        </nav>

        <div style="min-height: 100vh;">
            <div ng-view>

            </div>
        </div>


        <!-- Footer -->
        <div id="basdepage" style="background-color: #000; color: #fff; padding-bottom : 10vmin; padding-top : 10vmin; " >
            <div class="paddingFooter">
                <div class="row">
                    <div class="col-sm-2">
                        <span style="color: #aaa">
                            <b style="color: #fff">© 2018 ENEDIART</b> <br>
                            Tous droits réservés
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <b>ENEDIART</b>
                        <ul class="list-unstyled" style="color: #aaa">
                            <!--                            <li>Comment ça marche?</li>-->
                            <li><a href="#!mentions">Mentions légales</a></li>
                            <li><a href="#!contacteznous">Contactez-nous</a></li>
                            <li><a href="#!apropos">A propos</a></li>
                            <!--                            <li>Blog</li>-->
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <b>THEMES</b>
                        <ul class="list-unstyled" style="color: #aaa">
                            <li class="color_muanza">
                                <a href="#!oeuvres">
                                    Tous les thèmes
                                </a>
                            </li>
                            <li>
                                <a href="#!oeuvres/theme/0">
                                    Paysage
                                </a>
                            </li>
                            <li>Portrait</li>
                            <li>Nature Morte</li>
                            <li>Scène Quotidienne</li>
                        </ul>
                    </div>

                    <div class="col-sm-2">
                        <b>STYLES</b>
                        <ul class="list-unstyled" style="color: #aaa">
                            <li class="color_muanza">Toutes les styles</li>
                            <li>Abstrait</li>
                            <li>Figuratif</li>
                            <li>Surréaliste</li>
                            <li>Cubiste</li>
                            <li>Expressionniste</li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <b>ARTISTES PAR PAYS</b>
                        <ul class="list-unstyled" style="color: #aaa">
                            <li class="color_muanza">Tous les artistes</li>
                            <li>Cameroun</li>
                            <li>Zambie</li>
                            <li>Tchad</li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <b>RESEAUX SOCIAUX</b>
                        <ul class="list-unstyled" style="color: #aaa">
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>Twitter</li>
                            <li>Google +</li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>


        <!-- Script par odre de priorité -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>

        <!-- DATATABLES : Affichage des données -->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>


        <!-- Transformer les nombres en monnaie -->
        <script src="resources/js/accounting.js" type="text/javascript"></script>

        <!-- Custom script -->
        <script src="resources/js/bashenga.js" type="text/javascript"></script>
        <script src="resources/js/angular.min.js" type="text/javascript"></script>
        <script src="resources/js/angular-route.js" type="text/javascript"></script>

        <!-- Déclaration de l'application sur Angular -->
        <script src="app.js" type="text/javascript"></script>

        <!-- routage -->
        <script src="resources/js/routage.js" type="text/javascript"></script>

        <!-- Firebase Database -->
        <script src="services/database.js" type="text/javascript"></script>
        <!-- Firebase Storage --> 
        <script src="services/storage.js" type="text/javascript"></script>
        <!-- Firebase Authentification -->
        <script src="services/authentification.js" type="text/javascript"></script>
        <!-- Fonctions utiles en Angular : Formatage, heure -->
        <script src="services/util.js" type="text/javascript"></script>

        <!-- Gestion du menu -->
        <script src="menu.js" type="text/javascript"></script>

        <!-- Controllers pour les pages accessibles à tous -->
        <script src="pages/artistes/artistes.js" type="text/javascript"></script>
        <script src="pages/oeuvres/oeuvres.js" type="text/javascript"></script>
        <script src="pages/expositions/expositions.js" type="text/javascript"></script>
        <script src="pages/accueil/accueil.js" type="text/javascript"></script>
        <script src="pages/artiste/artiste.js" type="text/javascript"></script>
        <script src="pages/oeuvre/oeuvre.js" type="text/javascript"></script>
        <script src="pages/exposition/exposition.js" type="text/javascript"></script>
        <script src="pages/panier/panier.js" type="text/javascript"></script>
        <script src="pages/paiement/paiement.js" type="text/javascript"></script>
        <script src="pages/eneditrip/eneditrip.js" type="text/javascript"></script>
        <script src="pages/rechercher/rechercher.js" type="text/javascript"></script>
        <script src="pages/newsletter/newsletter.js" type="text/javascript"></script>
        <script src="pages/contactus/contactus.js" type="text/javascript"></script>

        <!-- Components -->
        <script src="components/notation/notation.js" type="text/javascript"></script>
        <script src="components/oeuvres/oeuvres.js" type="text/javascript"></script>
        <script src="components/oeuvre/oeuvre.js" type="text/javascript"></script>

        <script>
                        $(document).ready(function () {
                            $(window).bind('hashchange', function () {
                                console.log("L'URL a changé !!");
                                document.body.scrollTop = 0;
                            });

                            $('nav .nav-item:not(.dropdown)').on('click', function () {
                                console.log("nav .nav-item:not(.dropdown)")
                                $('.navbar-toggler').click(); //bootstrap 4.x
                            });
                            $('a.dropdown-item').on('click', function () {
                                console.log(".dropdown-item")
                                $('.navbar-toggler').click(); //bootstrap 4.x
                            });

                        });
        </script>
    </body>
</html>

